Source: deluge-readynas
Section: contrib
Priority: extra
Maintainer: Andrew Cook <ariscop@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/ariscop/deluge-readynas
Vcs-Git: https://github.com/ariscop/deluge-readynas.git
Vcs-Browser: https://github.com/ariscop/deluge-readynas

Package: deluge-readynas
Architecture: all
Depends: deluged, deluge-web, ${misc:Depends}, readynasos (>= 6.0.5~T1271)
Description: Deluge for readynas
